@import url("shoujisc.css");
@import url("style.css");
*{
	color: #666666;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
    width: 100%;
    background: #F1F1F1;
    border-bottom: 1px #DEDEDE solid;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    .col-xs-1{
        display: inline-block;
        height: 50px;
    line-height: 50px;
        font-size: 22px;
        color: #333333;
    }
    
}
.z_container{
	
	width: 100%;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 49px;
	overflow: hidden;
	.add_address{
		width: 94%;
		margin: 5px auto;
		overflow: hidden;
		background: white;
		border: 1px #DEDEDE solid;
		padding: 5px 8px;
		.addressinfo{
			height: 24px;
			line-height: 24px;
			
			p{
				padding: 0;
			}
			input{
				padding: 0;
				height: 20px;
				line-height: 20px;
				font-size: 14px;
			}
		}
		.name,.phone,.addressdetail,.postcodes{
			border: none;
		}
		.province,.city,.district{
			margin-right: 0;
		}
		.o_line{
			height: 1px;
			width: 100%;
			background: #DEDEDE;
		}
	}
}
.save_address{
        width: 50%;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        color: white;
        margin: 26px auto 0 auto;
        text-align: center;
        background: #D12323;
        border-radius: 6px;      
}
footer{
    height: 49px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index:10;
}